*target*
/log/
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*.log
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
